<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <title>Forge CLI</title>
        <meta
            name="description"
            content="A simple CLI for managing users and rolls."
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
        />
    </head>

    <body>
        <header>
            <h1>Bienvenue $$NAME$$</h1>
        </header>
        <main>
            <form id="roll">
                <article>
                    <fieldset role="group">
                        <select
                            id="dice"
                            aria-label="Select your dice..."
                            required
                        >
                            <option selected disabled value="">
                                Select your dice...
                            </option>
                            <option>4</option>
                            <option>6</option>
                            <option>8</option>
                            <option>10</option>
                            <option>12</option>
                            <option>20</option>
                            <option>100</option>
                        </select>
                        <input type="submit" value="Roll" />
                    </fieldset>
                    <footer id="roll_result"></footer>
                </article>
            </form>
            <section>
                <details>
                    <summary role="button">My rolls</summary>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Dices</th>
                                <th scope="col">Values</th>
                            </tr>
                        </thead>
                        <tbody id="rolls_table">
                            <tr>
                                <th scope="row">4</th>
                                <td>1, 3, 1</td>
                            </tr>
                        </tbody>
                    </table>
                </details>
            </section>
        </main>
        <footer>Forge CLI</footer>

        <script>
            const user = JSON.parse(document.cookie.split("=")[1]);
            document.querySelector("h1").innerText = `Bienvenue ${user.name}`;
            const populateTable = async () => {
                const rolls = await fetch(`/api/user/${user.id}/rolls`);
                const json = await rolls.json();
                document.getElementById("rolls_table").innerHTML = "";
                Object.entries(json.rolls).forEach(([key, values]) => {
                    const row = document.createElement("tr");
                    const diceCell = document.createElement("th");
                    diceCell.scope = "row";
                    diceCell.innerText = key;
                    row.appendChild(diceCell);
                    const valueCell = document.createElement("td");
                    valueCell.innerText = values.join(", ");
                    row.appendChild(valueCell);
                    document.getElementById("rolls_table").appendChild(row);
                });
            };

            document
                .getElementById("roll")
                .addEventListener("submit", async (event) => {
                    event.preventDefault();
                    const res = await fetch(
                        "/api/roll/" + document.getElementById("dice").value,
                    );
                    const text = await res.text();
                    document.getElementById("roll_result").innerText =
                        `Result:  ${text}`;
                    await fetch(`/api/user/${user.id}/rolls`, {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({
                            dice: Number(document.getElementById("dice").value),
                            value: Number(text),
                        }),
                    });
                    await populateTable();
                    return false;
                });

            window.addEventListener("load", async () => {
                await populateTable();
            });
        </script>
    </body>
</html>
